<!DOCTYPE html>
<html>
    <head>
        <title>
            Landing Page
        </title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <header>
            <h1>HEY! Welcome</h1>
            <a href="/addHome">Add Home</a>
        </header>
        <div id="body">
    <div id="div">
        <h1 id="top">Here are the added homes..</h1>
        <div >
        <% details.forEach(function(detail) { %>
            <li>
                <h1 id="name">
                    <%= detail.houseName %>
                    
                </h1>
                <p id="textarea">
                    <%= detail.description %>
                </p>
            </li>
        <% });%>
    </div>
        <p> from / <b><u> test </u></b>/addHome</p>
    </div>
</div>
    </body>
</html>