<link rel="stylesheet" href="/footer.css"/>
<footer>
    <div>
      <h1>
        Our Social Media...
      </h1>
      <h3>
        Instagram
      </h3>
      <p> ttshks@@123 </p>

      <h3>
        Discord
      </h3>
      <p> lsfjdls @ljfls </p>

      <h3>
        Youtube
      </h3>
      <p> skjdfkl </p>

      
    </div>
    <div>
      <h1>
        Contact us...
      </h1>
      

      <h3>
        Mobile.
      </h3>
      <p> xxx,xxx,xxx,x </p>
      <p> xxx,xxx,xxx,x </p>

      <h3>
        Telephone.
      </h3>
      <p> xxx,xxx,xxx,x </p>
      <p> xxx,xxx,xxx,x </p>

      <h3>
        Gmail
      </h3>
      <p> dkljf4324@gamil.com </p>
    
    </div>
  </footer>