header{
    background-color: rgb(12, 150, 115);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:7px 0px;
    width:100%;
    margin-bottom: 20px;
    #navDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    a{
        margin:0px 5px;
        color:white;
    }
}
