<%- include('../partials/head')%>
<link rel="stylesheet" href="/addedHomestyle.css"/>
        <body>
                <%- include('../partials/nav')%>
                <div>
                <h1>Your House is successfully added</h1>
                
                <a href="/host/addHome">Add more</a>
        </div>
        <%- include ('../partials/footer')%>
        </body>
</html>

        