<link rel="stylesheet" href="/header.css"/>
<header>
    <p></p>
    <div id="navDiv">
    <a href="/host/addHome">Add Home</a>
    <a href="/store/booked">Bookings</a>
    <a href="/store/favourite">Favourites</a>
    <a href="/store/">Landing Page</a>
    <a href="/host/addHome">Add Home</a>
    <a href="/host/hostHomeList">Added by you</a>
    <a href="/store/homeList">Homes</a>
</div>
<p></p>
</header>