

<!DOCTYPE html>
<html>
	<%- include('../partials/head')%>
		<link rel="stylesheet" href="/error.css"/>

	<body>
                <%- include('../partials/nav')%>
            <div id="div">
            <h1>abe bawla h kya ungli kyu karra h bin bat ke.</h1>
            <img src="../error.jpeg" height="150px" width="150px" />
            <a href="/store" id="goHome">Go to home</a>
        </div>
	</body>
</html>
		