
body{
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height:80vh;
    justify-self: center;
    width:500px;
    border:2px solid black;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 1px black;
    #div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: inherit;
        width:70%;
        margin:30px 0px 10px 0px;
        align-items: center;
        background-image: url("./img.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        border: 2px solid black;
        border-radius: 8px;
        
        div{
            width:100%;
            display: flex;
            flex-direction: column;
            align-items:center;
            label{
                text-align: left;width:70%;
                color:white;
                margin-bottom: 7px;
            }
        }

        
        input{
            width:70%;
            border:none;
            padding:6px;
            border-radius: 4px;
            margin-bottom: 20px;

        }
        #submit{
            width:35%;
            background-color: aquamarine;
            font-weight: 500;
            text-decoration: underline;
        }

    }
    h1{
        background-color: rgba(165, 42, 42, 0.218);
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin:0px;
        text-align: center;
        padding:10px 0px;
        

    }
}