<!DOCTYPE html>
<html>
    <head>
        <title>
            Landing Page
        </title>
        <link rel="stylesheet" href="output.css"/>
    </head>
    <body>
        <h1>Welcome This is a practice file for styling real file is in (N9)</h1>
        <h1 class="text-teal-700">
            This is by tailwind
        </h1>
        <h1 class="text-teal-700 text-5xl">
            class="text-teal-700 text-5xl"
        </h1>
        <div>
        <a href="/host/addHome">Add Home</a><p> from / <b><u> host </u></b>/addHome</p>
    </div>

    <div>
        <a href="/test/addHome">Add Home</a><p> from / <b><u> test </u></b>/addHome</p>
    </div>
    </body>
</html>
