<%- include('../partials/head')%>
<link rel="stylesheet" href="/addHomeStyle.css"/>
	<body>
		<%- include('../partials/nav')%>
        <form action="/host/addHome" method="POST">
			<h1>
				Enter your home here
			</h1>
			<div id="div">
				<div>
					<label>
						Enter your House Name
					</label>
            <input type="text" name="houseName" placeholder="House Name"/>
			<label>
				Describe your house
			</label>
			<input type="text" name="description" placeholder="Describe your house here"/>
		</div>
            <input id="submit" type="submit"/>
			</div>
			<p> *For multiple response come back from next page.</p>
        </form>
		<%- include ('../partials/footer')%>
	</body>
</html>
		